logs/*
!logs/.gitkeep
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

conf/scheduler.conf
*/http-client.private.env.json
.bsp/
docker/target/*
docker/ssh-key/*

dev/0-first-run/conf/*
!dev/0-first-run/conf/.gitkeep
dev/1-docker-data/scheduler/volumes/cache/*
!dev/1-docker-data/scheduler/volumes/cache/.gitkeep
dev/1-docker-data/scheduler/volumes/ivy/*
!dev/1-docker-data/scheduler/volumes/ivy/.gitkeep
dev/1-docker-data/scheduler/volumes/sbt/*
!dev/1-docker-data/scheduler/volumes/sbt/.gitkeep
dev/1-docker-data/zookeeper/volumes/data/*
!dev/1-docker-data/zookeeper/volumes/data/.gitkeep
dev/1-docker-data/zookeeper/volumes/log/*
!dev/1-docker-data/zookeeper/volumes/log/.gitkeep
dev/1-docker-data/kafka/volumes/data/*
!dev/1-docker-data/kafka/volumes/data/.gitkeep
dev/1-docker-data/kafka/volumes/logs/*
!dev/1-docker-data/kafka/volumes/logs/.gitkeep

dev/.env
dev/1-docker-data/scheduler-postgres/volumes/pg-data
\?/*